.card-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px grey;
  width: 100%;
  max-width: 400px;
  transition: transform 0.2s;
  overflow: hidden; /* Ensures no overflow */
  display: flex;
  flex-direction: column;
}

.card-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 90%;
  height: 250px;
  object-fit: cover;
  margin: 18px 0 0 18px;
}

.card-lower {
  display: flex;
}

.card-right {
  margin-left: 15px;
  margin-top: 10px;
  width: 10%;
}

.card-left {
  width: 80%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold; /* Corrected to use font-weight */
  margin-left: 18px;
  margin-top: 10px;
}

.card-body {
  font-size: 1rem;
  margin-left: 10px;
  margin-top: -5px;
  
 
  display: -webkit-box;               
  
  -webkit-line-clamp: 1;             
  overflow: hidden;                   
  text-overflow: ellipsis;            
  
  /* Ensure height is constrained */
  line-height: 1;                   /* Set a line height */
                
}
